body {
  font-family: 'Proxima Nova', helvetica, arial, sans-serif;
 /*
  * color: white;
  * background-color: rgb(18, 44, 75);
  */
  min-width: 357px;
  overflow-x: hidden;
  text-align: center;
}

a {
  color: black;
  hover
}

ul#mixes {

}

li.mixli {
  list-style-type: none;
  display: table;
}

#cover {
  width: 100px;
}

#container {
  margin-top: 10px;
}

#template {
  visibility: hidden;
}

#controls {
  font-size: 20px;
}

#top {
  margin-top: 5px;
}

#info p {
  font-size: 12px;
  margin-bottom: 0;
}

.ui-helper-hidden-accessible{display:none}
.ui-autocomplete-input{font-size: 8px;}

input {
  width: 90%;
  border-radius: 20px;
  font-size: 8px;
}

.side {
  background-color: rgb(18, 44, 75);
}
